{% extends 'base.html' %}
{% load static %}

{% block title %}Excluir Missão{% endblock %}

{% block content %}
<div class="container mt-4">

    <h2 class="fw-bold text-danger mb-3">Excluir Missão</h2>

    <p>Tem certeza que deseja excluir a missão <strong>"{{ mission.title }}"</strong>?</p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'mission_detail' mission.id %}" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
{% endblock %}
